<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Life Agent Portal - Account Deactivation Notice</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin:
      0; padding: 0; } .container { max-width: 600px; margin: 20px auto;
      background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow:
      0px 0px 10px rgba(0, 0, 0, 0.1); } h2 { color: #333; text-align: center; }
      p { font-size: 16px; color: #555; line-height: 1.5; } .button { display:
      inline-block; background-color: #007bff; color: #ffffff !important;
      padding: 10px 20px; text-decoration: none; border-radius: 5px;
      font-weight: bold; } .button:hover { background-color: #0056b3; } .footer
      { text-align: center; font-size: 14px; color: #777; margin-top: 20px; }
    </style>
  </head>
  <body>

    <div class='container'>
      <h2>Life Agent Portal</h2>
      <h3>Account Suspension Notice</h3>

      <p>Hi <strong>{{userName}}</strong>,</p>

      <p>Thank you for your initial interest in Life Agent Portal account however
        due to an extended period of no activity or other reasons, we’ve marked
        your account as “Suspended” and you will not be able to login until you
        contact an Life Agent Portal team member to unlock your account.
      </p>

      <p>Thanks for your understanding. You will need to contact us to re-open
        your account. If you prefer to delete your account, simply reply to this
        email asking us to delete it.
      </p>

      <p>Thanks!<br />
        <strong>Life Agent Portal Team</strong></p>

      <div class='footer'>
        <p>&copy; 2025 Life Agent Portal. All Rights Reserved.</p>
      </div>
    </div>

  </body>
</html>